@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0px;
}

p, a, h1, h2, h3, ol {
    color: #F9FAF8;
    font-family: 'Roboto';
}

ul {
    list-style-type: none;
}

a {
    font-size: 18px;
    text-decoration: none;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

#head-links{
    display: flex;
    justify-content: space-around;
    min-width: 350px;
    
}

div {
    display: flex;
    width: auto;
    min-width: 600px;
}

.header {
    position: sticky;
    top:0;
    z-index: 1000;
    padding-left: 45px;
    padding-right: 45px;
    background-color: darkslateblue;
    justify-content: space-between;
    align-items: center;
}

.welcome {
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: darkslateblue;
    justify-content: center;
    flex-wrap: wrap;
}

.welcome-left{ 
    display: flex;
    flex-direction: column;
    width: 500px;
}

.minigame-examples{ 
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.examples {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:0px;
}

.item img, .item input {
    width: 500px;
    height: 350px;
    border-radius: 5%;
}

.item h2 {
    color: darkslateblue;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:0px;
    width: 500px;
}

.item a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#example-head {
    text-align: center;
    color: darkslateblue;
}

.header .icon {
    display: none;
}

.game.out-of-combat div:not(.game-but){
    display: none;
}

/* mobile users and resized windows */

@media screen and (max-width:700px) {
    /* make the headers disappear */
    #head-links a {
        display: none;
    }
    .header {
        padding-left: 30px;
    }

    /* this means select every div except the ones with the names in brackets */
    div:not(.game-but, .options, .game, .pvp) { 
        min-width: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .welcome {
        padding-top: 20vw;
        padding-bottom: 20vw;
    }

    .welcome img {
        padding-top: 30px;
        padding-left: 10px;
        width: 100vw;
        height:auto;
    }

    .welcome-left, .item input, .item img{
        width: 90vw;
        padding-left: 10px;
        padding-right: 10px;
        height:auto;
    }

    .header input.icon {
        display: block;
        position: absolute;
        top: 28px;
        right: 16px;
        width: 20px;
    }
    
    .header.show {
        height: 150px;
        flex-direction: column;
        justify-content: left;
    }

    .header.show h2 {
        position: absolute;
        top: 0px;
        left: 20px;
    }

    .header.show #head-links {
        position: absolute;
        top: 64px;
        left: 0px;
    }

    #head-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #head-links.show a {
        float: none;
        display: block;
        text-align: left;
    }
}

.quote {
    display: flex;
    padding-right: 0px;
    justify-content: center;
    height: 300px;
    background-color: blueviolet;
}

.quote h2 {
    display: flex;
    align-items: center;
    color: white;
}

.quote p {
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 16px;
}

/*
rock paper scissors exclusive styles
*/

.how-to-play {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
}

.how-to-play h1, h3, ol {
    color: black;
}

.how-to-play h1 {
    text-align: center;
    font-size: 30pt;
    margin-bottom: 4px;
}

.how-to-play h3 {
    font-size: 15pt;
}
.how-to-play li {
    padding: 4px;
}

.game {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.game-but {
    display: flex;
    justify-content: center;
    min-width: 100px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: darkslateblue;
    text-align: center;
}

.game-but p {
    color: white;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

.pvp {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#player img {
    width: 200px;
    height: 200px;
}

#computer img {
    width: 200px;
    height: 200px;
}

.pvp h1 {
    color: black;
}

.pvp div {
    min-width: 200px;
    min-height: 200px;
}

.options {
    display: flex;
    min-width: 400px;
    justify-content: space-around;
}

/* mobile users */
@media  screen and (max-width: 600px) {
    .game, .pvp, .options {
        min-width: 100px;   
    }

    .game {
        width: 100%;
        height: auto;
    }

    .pvp {
        width: 77%;
        height: 70%;
    }

    .options {
        width: 70%;
        height: 70%;
    }

    .pvp div {
        min-width: 100px;
    }

    .game-but:not(#play) {
        min-width: 75px;
        margin-top: 0;
    }

    .game-but:not(#play) p {
        font-size: 8pt;
    }


    #player, #computer {
        align-self: flex-end;
        width: 28%;
        height: 28%;
    }

    #player img, #computer img{
        align-self: center;
        min-width: 100px;
        width: 70%;
        height: auto;
    }

    #computer {
        justify-content: end;
    }

    .pvp h1 {
        text-align: center;
    }

    #dropbtn {
        position: absolute;
        top: 28px;
        right: 16px;
        width: 20px;
    }

    #head-links.show a {
        display: block;
        width: 100%;
    }
}

