@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0px;
}

p, a, h1, h2 {
    color: #F9FAF8;
    font-family: 'Roboto';
}

ul {
    list-style-type: none;
}

a {
    font-size: 18px;
    text-decoration: none;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

#head-links{
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    
}

div {
    display: flex;
    width: auto;
    min-width: 600px;
}

.header {
    position: sticky;
    top:0;
    z-index: 1000;
    padding-left: 45px;
    padding-right: 45px;
    background-color: darkslateblue;
    justify-content: space-between;
    align-items: center;
}

.welcome {
    display: flex;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: darkslateblue;
    width: auto;
    justify-content: center;
}

.welcome-left{ 
    display: flex;
    flex-direction: column;
}